@using MauiApp3.Common;
@inject NavigationManager Navigation;
<div class="btn-group container">
    @foreach (var item in currentUrlCollections)
    {
        <NavLink href="@item.Value" class="btn btn-sm btn-block btn-outline-primary  mt-2">@item.Key</NavLink>
    }
</div>

@code {
    private List<KeyValuePair<string, string>> currentUrlCollections = new();
    [Parameter] public string IndexUrl { get; set; }
    [Parameter] public string NextUrl { get; set; }
    [Parameter] public string RecordUrl { get; set; }
    [Parameter] public string CatalogUrl { get; set; }
    [Parameter] public string LastUrl { get; set; }
    [Parameter] public string PrevtUrl { get; set; }
    [Parameter] public string NovelUrl { get; set; }
    [Parameter] public string NewsUrl { get; set; }
    [Parameter] public List<KeyValuePair<string, string>> UrlCollections { get; set; }
    protected override void OnParametersSet()
    {
        currentUrlCollections.Clear();
        if (!string.IsNullOrEmpty(IndexUrl))
        {

            currentUrlCollections.Add(new KeyValuePair<string, string>("主页",IndexUrl));
        }
        if (!string.IsNullOrEmpty(NovelUrl))
        {

            currentUrlCollections.Add(new KeyValuePair<string, string>("小说", NovelUrl));
        }
        if (!string.IsNullOrEmpty(NewsUrl))
        {

            currentUrlCollections.Add(new KeyValuePair<string, string>("头条", NewsUrl));
        }
        if (!string.IsNullOrEmpty(RecordUrl))
        {

            currentUrlCollections.Add(new KeyValuePair<string, string>("历史记录", RecordUrl));
        }
        if (!string.IsNullOrEmpty(CatalogUrl))
        {

            currentUrlCollections.Add(new KeyValuePair<string, string>("目录", CatalogUrl));
        }
        if (!string.IsNullOrEmpty(LastUrl))
        {

            currentUrlCollections.Add(new KeyValuePair<string, string>("尾页", LastUrl));
        }
        if (!string.IsNullOrEmpty(PrevtUrl))
        {

            currentUrlCollections.Add(new KeyValuePair<string, string>("上一页", PrevtUrl));
        }
        if (!string.IsNullOrEmpty(NextUrl))
        {

            currentUrlCollections.Add(new KeyValuePair<string, string>("下一页", NextUrl));
        }
        if (UrlCollections != null && UrlCollections.Count > 0)
        {
            currentUrlCollections.AddRange(UrlCollections);    
        }

    }

}
