@page "/catalogs/{url}/{NovelId}/{NovelName}/{NovelAddr}/{rand?}"
@using MauiApp3.Common;
@using MauiApp3.Data;
@using System.Text.Encodings.Web;
@using System.Text;
@inject NavigationManager Navigation
@inject SoduService soduService;
@inject IJSRuntime js;
@if (novelContent == null)
{
     <div class="btn-group container">
        <NavLink href="/index/1" class="btn btn-lg btn-block btn-outline-primary  mt-2">主页</NavLink>
        <NavLink href="/records" class="btn btn-lg btn-block btn-outline-primary  mt-2">历史记录</NavLink>
        @if (!string.IsNullOrEmpty(NovelAddr))
        {
            <a @onclick=@(e=>Navigation.GoTo("/detial",NovelAddr,NovelId,NovelName,NovelAddr)) @onclick:preventDefault class="btn btn-lg btn-block btn-outline-primary mt-2">目录</a>
        }
        @if (!string.IsNullOrEmpty(url)&&showRefresh)
        {
            <div @onclick=@(e=>Navigation.GoTo("/catalogs",url,NovelId,NovelName,NovelAddr,Guid.NewGuid().ToString())) @onclick:preventDefault class="btn btn-lg btn-block btn-outline-primary mt-2">刷新</div>
        }
     </div>
    <p>@Message</p>
}
else
{
    <div class="btn-group container">
        <NavLink href="/index/1" class="btn btn-lg btn-block btn-outline-primary  mt-2">主页</NavLink>
        <NavLink href="/records" class="btn btn-lg btn-block btn-outline-primary  mt-2">历史记录</NavLink>
        @if (!string.IsNullOrEmpty(novelContent.Next))
        {
            <a @onclick=@(e=>Navigation.GoTo("/catalogs",novelContent.Next,NovelId,NovelName,NovelAddr)) @onclick:preventDefault class="btn btn-lg btn-block btn-outline-primary mt-2">下一页</a>
        }
    </div>
    <div class="row mt-1 mb-1" >
        <div class="col-4"></div>
        <div class="col-2">
            <button class="btn btn-outline-dark" @onclick="@(e=>SetFontSize(false))">-</button>
        </div>
        <div class="col-2">
            <button class="btn btn-outline-dark" @onclick="@(e=>SetFontSize())">+</button>
        </div>
    <div class="col-4"></div>
    </div>
    <div style="background:#e6e6e6;font-size:@(fontSize)px">@(new MarkupString(novelContent.Content))</div>
    <div class="btn-group container">
        <NavLink href="/index/1" class="btn btn-lg btn-block btn-outline-primary mb-3">主页</NavLink>
         @if (!string.IsNullOrEmpty(NovelAddr))
        {
            <a @onclick=@(e=>Navigation.GoTo("/detial",NovelAddr,NovelId,NovelName,NovelAddr)) @onclick:preventDefault class="btn btn-lg btn-block btn-outline-primary mb-3">目录</a>
        }
       
        @if (!string.IsNullOrEmpty(novelContent.Next))
        {
            <a @onclick=@(e=>Navigation.GoTo("/catalogs",novelContent.Next,NovelId,NovelName,NovelAddr)) @onclick:preventDefault class="btn btn-lg btn-block btn-outline-primary mb-3">下一页</a>
        }
    </div>
}
@code {
    [Parameter]
    public string url {get;set;}
    [Parameter]
    public string NovelId { get; set; }
    [Parameter]
    public string NovelName { get; set; }
    [Parameter]
    public string NovelAddr { get; set; }
    [Parameter]
    public string rand { get; set; }
    public static int fontSize = 16;
    public bool showRefresh = false;
    public MauiApp3.Model.NovelContent novelContent;
    public string Message = "Data Loading ............";
    public static int errCount = 0;
    protected override async Task OnParametersSetAsync()
    {
        try
        {
            await js.InvokeVoidAsync("loading", true);
            novelContent = null;
            novelContent = await soduService.GetChapter(url, NovelId, NovelName, NovelAddr);

        }
        catch (Exception ex)
        {

            showRefresh = true;
            Message = "发生错误" + ex.Message;
            StateHasChanged();
        }
        finally
        {
            await js.InvokeVoidAsync("loading", false);
        }

    }
    public void SetFontSize(bool add=true)
    {
        if (add)
        {
            fontSize+=1;
        }
        else
        {
            fontSize-=1;   
        }
        StateHasChanged();
    }

}
