@page "/catalogs/{url}/{NovelId}/{NovelName}/{NovelAddr}"
@using MauiApp3.Common;
@using MauiApp3.Data;
@using System.Text.Encodings.Web;
@using System.Text;
@inject NavigationManager Navigation
@inject SoduService soduService;
@if (novelContent == null)
{
    <p>@Message</p>
}
else
{
    <div class="btn-group container">
        <NavLink href="/index/1" class="btn btn-lg btn-block btn-outline-primary  mt-2">主页</NavLink>

        <NavLink href="/records" class="btn btn-lg btn-block btn-outline-primary  mt-2">历史记录</NavLink>
        @if (!string.IsNullOrEmpty(novelContent.Next))
        {
            <a @onclick=@(e=>Navigation.GoTo("/catalogs",novelContent.Next,NovelId,NovelName,NovelAddr)) @onclick:preventDefault class="btn btn-lg btn-block btn-outline-primary mt-2">下一页</a>
        }
    </div>
    
    <div style="background:#e6e6e6">@(new MarkupString(novelContent.Content))</div>
    <div class="btn-group container">
        <NavLink href="/index/1" class="btn btn-lg btn-block btn-outline-primary mb-3">主页</NavLink>
        @if (!string.IsNullOrEmpty(novelContent.Next))
        {
            <a @onclick=@(e=>Navigation.GoTo("/catalogs",novelContent.Next,NovelId,NovelName,NovelAddr)) @onclick:preventDefault class="btn btn-lg btn-block btn-outline-primary mb-3">下一页</a>
        }
    </div>
}
@code {
    [Parameter]
    public string url {get;set;}
    [Parameter]
    public string NovelId { get; set; }
    [Parameter]
    public string NovelName { get; set; }
    [Parameter]
    public string NovelAddr { get; set; }
    public MauiApp3.Model.NovelContent novelContent;
    public string Message = "Data Loading ............";
    protected override async Task OnParametersSetAsync()
    {
        try
        {
            novelContent = await soduService.GetChapter(url, NovelId, NovelName, NovelAddr);
        }
        catch (Exception ex)
        {

            Message = "发生错误"+ex.Message;
        }
        
    }
   
}
