@page "/novels"
@using MauiApp3.Data.Impl;
@inject NavigationManager navigate;
<MauiApp3.Components.NovelNaviageBar IndexUrl="/"
                                   NewsUrl="/newsweb"
                                   RecordUrl="/records"></MauiApp3.Components.NovelNaviageBar>
<div class="container">
    <ul class="list-group list-group-flush">
        @foreach (var item in novelKeyPairs)
        {
            var key = item.Key;
            <li class="list-group-item">
                <p class="link-success align-middle" @onclick="@(e=>navigate.NavigateTo($"/index/{key}/1"))">@item.Value</p>
            </li>
        }
    </ul>
</div>
@code
{
    private static readonly Dictionary<string, string> novelKeyPairs = new Dictionary<string, string>
    {
           {nameof(SoduService),"搜读" },
           {nameof(LinDianService),"零点" },
           {nameof(BQGService),"笔趣阁(cloudflare暂时无法抓取)"}
    };
}