@page "/"
@using MauiApp3.Data;
@inject NavigationManager Navigation;
@inject SoduService soduService;
@inject IJSRuntime js;


    <div class="container"><a @onclick=@(e=>GoTo(e,"/index","1")) class="btn btn-lg btn-bd-primary" @onclick:preventDefault>主页</a></div>

    <div class="container"><a @onclick=Clear class="btn btn-lg btn-bd-primary" @onclick:preventDefault>清除缓存</a></div>
    <p>@info</p>
@code {
    public string info { get; set; }
    protected override void OnInitialized()
    {
        info = soduService.Test();
    }
    public void GoTo(MouseEventArgs e, string url,params string[] args)
    {
        var list = new List<string>(args.Length+1);
        list.Add(url);
        if (args.Length > 0)
        {
            list.AddRange(args);
        }
        Navigation.NavigateTo(string.Join("/",list));
    }
    public async Task Clear()
    {
        if (soduService.ClearCache())
        {
           await Application.Current.MainPage.DisplayAlert("提示","清除成功！","确认");
        }
    }
}
