@page "/"
@using MauiApp3.Common;
@using MauiApp3.Data;
@using MauiApp3.Data.Impl;
@inject NavigationManager Navigation;
@inject SoduService soduService;
@inject IJSRuntime js;
@using Jint;
<div class="row">
    <a  @onclick=@(e=>Navigation.GoTo("/newsweb")) class="btn btn-lg btn-outline-success mt-5 btn-block" @onclick:preventDefault>今日头条</a>
</div>
<div class="row">
    <a @onclick=@(e=>Navigation.GoTo("/novels")) class="btn btn-lg btn-outline-success mt-5 btn-block" @onclick:preventDefault>小 说</a>
</div>
<div class="row">
<a @onclick=Clear class="btn btn-lg btn-outline-success mt-5 btn-block" @onclick:preventDefault>清除缓存</a>
</div>
<div class="row">
    <a @onclick=@(e=>Navigation.GoTo("/records")) class="btn btn-lg btn-outline-success mt-5 btn-block" @onclick:preventDefault>阅读记录</a>
</div>
<div class="row">
    <a @onclick=@(e=>Navigation.GoTo("/video")) class="btn btn-lg btn-outline-success mt-5 btn-block" @onclick:preventDefault>DY</a>
</div>

@code {
    // public async Task RunJs()
    // {
    //     using (var engine = new Engine())
    //     {
    //         using var stream = await FileSystem.OpenAppPackageFileAsync("douyin.min.js");
    //         using var reader = new StreamReader(stream);
    //         var js = reader.ReadToEnd();
    //         engine.Execute(js);
    //         var value = engine.Invoke("sign", "device_platform=webapp&aid=6383&channel=channel_pc_web&business_id=30069&rsp_source=inbox&from_group_id=7239321939985157436&penetrate_params=%7B%22inbox_exist_word_id%22:%22%22%7D&pd=pc_recommend&pc_client_type=1&version_code=170400&version_name=17.4.0&cookie_enabled=true&screen_width=1920&screen_height=1080&browser_language=zh-CN&browser_platform=Win32&browser_name=Edge&browser_version=114.0.1823.24&browser_online=true&engine_name=Blink&engine_version=114.0.0.0&os_name=Windows&os_version=10&cpu_core_num=16&device_memory=8&platform=PC&downlink=0.4&effective_type=2g&round_trip_time=2200&webid=7239637187494118964&msToken=rZ8Oj7zvpDyzizGy4fmVYIRfkYExWkqPbz5opGqDDBbXnZUkrBNhXUkyNcqKNNDv671Iqgwc_emFTwfrPJcYjjKZIDiKq1NcyfiBfU-sOM4fTYL50gFoU6G05mPB6Js=");
    //         await Application.Current.MainPage.DisplayAlert("结果",value.ToString(),"确认");
    //     }
    // }
    public async Task Clear()
    {
        if (FileCacheHelper.ClearCache())
        {
            await Application.Current.MainPage.DisplayAlert("提示","清除成功！","确认");
        }
    }
} 
